<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/colors.css">
    </head>
    <body>
        <div class="title">
            <h1>Röd linssoppa</h1>
            <blockquote>God lätt soppa från ICA</blockquote>
        </div>
        <div class="content">
            <p>8 portioner, 3 dl/portion</p>
            <div class="step">
                <ul>
                    <li><span class="c0">2</span> gul lök</li>
                    <li><span class="c0">2 msk</span> olja</li>
                </ul>
                <div class="info c0">
                    fräs i olja
                </div>
            </div>
            <div class="step">
                <ul>
                    <li><span class="c1">4 tsk</span> paprikapulver</li>
                    <li><span class="c1">4</span> lagerblad</li>
                    <li><span class="c1">1 tsk</span> timjan</li>
                    <li><span class="c1">2 tsk</span> basilika/oregano</li>
                </ul>
                <div class="info c1">
                    tillsätt
                </div>
            </div>
            <div class="step">
                <ul>
                    <li><span class="c2">1,5 l</span> vatten</li>
                    <li><span class="c2">3</span> grönsaksbuljongtärning</li>
                    <li><span class="c2">4 dl</span> röda linser <i>- skölj!</i></li>
                    <li><span class="c2">2 burkar</span> tomatkross</li>
                </ul>
                <div class="info c2">
                    tillsätt, koka 10-15 min
                </div>
            </div>
            <div class="step">
                <ul>
                    <li><span class="c3">4</span> vitlök <i>- pressa i</i></li>
                    <li><span class="c3">1 msk</span> rödvinsvinäger</li>
                    <li><span class="c3">2 tsk</span> salt</li>
                    <li>smaka av!</li>
                </ul>
            </div>
        </div>
    </body>
</html>
